// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "top-banner";
@import "containers";
@import "lines";
@import "intro-section";
@import "question-form";
@import "parti";
@import "poli-card";


body {
  background-image: linear-gradient(to right, #e0dee3, #d0ceda, #bebfd2, #a9b0ca, #91a3c2, #89a2c3, #81a1c3, #78a0c3, #80abcd, #88b6d7, #91c2e0, #9acdea);
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
 h2 {
  font-size: 18px;
 }
}

