hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4D4D4D;
  margin: 40px auto;
  padding: 0;
  width: 100%;
}

.introduction-section hr {
  width: 150px;
  margin: 20px auto;
}

hr.form-line {
  display: block;
  height: 3px;
  border: 0;
  border-top: 3px solid #4D4D4D;
  margin: 0 0;
  padding: 0;
  width: 75px;
  &:last-child {
    display: none;
  }
}

form hr:last-of-type {
  display: none;
}

.vertical-line {
  border-left: 1px solid rgba(150,150,150,1);
  height: 150px;
  margin-bottom: 40px;
}
