.parti-button {
  background-color: #fff;
  box-shadow: 0 0 0 1px #4d4d4d;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 100;
  transition: 0.2s ease;
  &:hover {
    background-color: rgba(50,50,50,1);
    color: white;
  }
  .parti-name {
    font-size: 14px;

  }
  .parti-logo {
    width: 22px;
    height: 22px;
    color: white;
    background-color: $blue;
  }
}

.selected {
  background-color: rgba(50,50,50,1);
  color: white;
}

.cursor {
  cursor: pointer;
}

.margin-x {
  padding: 0px 150px;
}

@media screen and (max-width: 1000px) {
  .margin-x {
    padding: 0px 20px;
  }
}

.smaller-font {
  font-size: 12px;
  opacity: 0.8;
}
