// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.polpic {
  width: 130px;
  border-radius: 50%;
}

input[type=submit] {
  display: block !important;
  margin: 0 auto;
  color: white;
  font-weight: 100;
  background-color: #FF001E;
  transition: 0.1s;
  padding: 10px 20px;
  border: none;
}

input[type=submit]:hover {
  background-color: rgba(20,20,20,1);
}
